* {
  font-family: 'Montserrat', sans-serif;
  color: {{fontColor}};
  font-size: {{fontSize}}px;
  overflow: hidden;
  font-weight: 600;
  text-align: center;
}

#text {
  margin-top: 10px;
  margin-bottom: 0;
}

#text.with-border {
  text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}

#text.with-shadow {
  text-shadow: 2px 2px 0 #000;
}

#emote-image {
  margin-top: 50px;
}